{
  "port": 3000,
  "isDevelopment": true,
  "shutdownTimeout": 10,
  "oidc": {
    "issuer": "http://localhost:8080/realms/mirzaganteng",
    "clientId": "access-client",
  },
  "s3": {
    "url": "http://localhost:3900",
    "accessKeyId": "",
    "secretAccessKey": "",
    "defaultRegion": "garage",
    "defaultBucket": "mirzaganteng"
  },
  "vault": {
    "url": "http://localhost:3900",
    "token": "akdjfkahfd",
    "transitBasePath": "mirza/ganteng",
    "TransitKey": "default"
  }
}
