---
name: modalrakyat

networks:
  inbound_gateway_network:
    external: true
  global_internal_network:
    external: true

services:
  backend:
    image: ghcr.io/mirzahilmi/modalrakyat:latest
    command: ["--log-level=debug", "--config=/tmp/config.json"]
    restart: unless-stopped
    volumes:
      - ../config.json:/tmp/config.json
    networks:
      - global_internal_network
      - inbound_gateway_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend-modalrakyat.rule=Host(`modalrakyat.mrz.my.id`)"
      - "traefik.http.routers.backend-modalrakyat.entrypoints=web"
      - "traefik.http.routers.backend-modalrakyat.service=backend-modalrakyat"
      - "traefik.http.services.backend-modalrakyat.loadbalancer.server.port=3000"
      - "traefik.http.routers.backend-modalrakyat.middlewares=cors-backend-modalrakyat"
      - "traefik.http.middlewares.cors-backend-modalrakyat.headers.accessControlAllowMethods=*"
      - "traefik.http.middlewares.cors-backend-modalrakyat.headers.accessControlAllowHeaders=*"
      - "traefik.http.middlewares.cors-backend-modalrakyat.headers.accessControlAllowOriginList=https://keycloak.mrz.my.id"
      - "traefik.http.middlewares.cors-backend-modalrakyat.headers.accessControlMaxAge=100"
      - "traefik.http.middlewares.cors-backend-modalrakyat.headers.addVaryHeader=true"
