---
name: modalrakyat

networks:
  modalrakyat_dev_private_network:
    external: true

volumes:
  modalrakyat_dev_postgres_data:

services:
  tunnel:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    environment:
      TUNNEL_TOKEN: ${CLOUDFLARED_TOKEN}
    command: ["tunnel", "--no-autoupdate", "run"]
    networks:
      - modalrakyat_dev_private_network

  traefik:
    image: traefik:v3.5.4
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - modalrakyat_dev_private_network
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=modalrakyat_dev_private_network
      - --entryPoints.web.address=:80
    ports:
      - 80:80
      - 8081:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  postgres:
    image: timescale/timescaledb:2.23.0-pg17-oss
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - modalrakyat_dev_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - modalrakyat_dev_private_network
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.1
    command: start
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      KC_HOSTNAME: ${KEYCLOAK_HOSTNAME}
      KC_PROXY_HEADERS: xforwarded
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - modalrakyat_dev_private_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`keycloak.mrz.my.id`)"
      - "traefik.http.routers.keycloak.entrypoints=web"
      - "traefik.http.routers.keycloak.middlewares=cors"
      - "traefik.http.routers.keycloak.service=keycloak"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "traefik.http.routers.keycloak.middlewares=cors-keycloak"
      - "traefik.http.middlewares.cors-keycloak.headers.accessControlAllowMethods=*"
      - "traefik.http.middlewares.cors-keycloak.headers.accessControlAllowHeaders=*"
      - "traefik.http.middlewares.cors-keycloak.headers.accessControlAllowCredentials=true"
      - "traefik.http.middlewares.cors-keycloak.headers.accessControlAllowOriginList=http://localhost:3000,https://modalrakyat.mrz.my.id"
      - "traefik.http.middlewares.cors-keycloak.headers.accessControlMaxAge=100"
      - "traefik.http.middlewares.cors-keycloak.headers.addVaryHeader=true"

  backend:
    image: ghcr.io/mirzahilmi/modalrakyat:latest
    command: ["--log-level=debug", "--config=/tmp/config.json"]
    restart: unless-stopped
    volumes:
      - ../config.json:/tmp/config.json
    networks:
      - modalrakyat_dev_private_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`modalrakyat.mrz.my.id`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.routers.backend.service=backend"
      - "traefik.http.services.backend.loadbalancer.server.port=3000"
      - "traefik.http.routers.backend.middlewares=cors-backend"
      - "traefik.http.middlewares.cors-backend.headers.accessControlAllowMethods=*"
      - "traefik.http.middlewares.cors-backend.headers.accessControlAllowHeaders=*"
      - "traefik.http.middlewares.cors-backend.headers.accessControlAllowOriginList=https://keycloak.mrz.my.id"
      - "traefik.http.middlewares.cors-backend.headers.accessControlMaxAge=100"
      - "traefik.http.middlewares.cors-backend.headers.addVaryHeader=true"
